In [1]:
import pandas as pd

temp = pd.read_csv("csv/temp.csv")
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398786 entries, 0 to 398785
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   398786 non-null  int64
 1   date_mesure  398786 non-null  object
 2   Teau         398786 non-null  float64
 3   id_sonde     398786 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 12.2+ MB

In [9]:
x = 0

nb_hours = 0
values = [0] * 17

tab_mean = []
tab_date = [temp["date_mesure"][0].split(" ")[0]]

while x < len(temp):
    date = temp["date_mesure"][x].split(" ")[0]
    
    if date != tab_date[-1]:
        for value in values:
            tab_mean.append(value / nb_hours)
        tab_date.append(date)
        values = [0] * 17
        nb_hours = 0

    y = 0
    while y < 17:
        values[y] += temp["Teau"][x + y]
        y += 1
        
    x += 17
    nb_hours += 1
        
for value in values:
    tab_mean.append(value / nb_hours)
    
dates = []
for date in tab_date:
    i = 0
    while i < 17:
        dates.append(date)
        i += 1

dic = {
        "date_mesure" : dates,
        "Teau" : tab_mean,
        "id_sonde" : [104, 109, 771, 813, 815, 816, 817, 818, 819, 820, 821, 823, 824, 825, 827, 828, 830] * len(tab_date)
    }
temp_day = pd.DataFrame(data=dic)
print(temp_day.info())
print(temp_day.head())
print(temp_day.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33252 entries, 0 to 33251
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date_mesure  33252 non-null  object
 1   Teau         33252 non-null  float64
 2   id_sonde     33252 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 779.5+ KB
None
  date_mesure     Teau  id_sonde
0  2013-05-29  10.9752       104
1  2013-05-29  10.1976       109
2  2013-05-29  11.4332       771
3  2013-05-29  11.7102       813
4  2013-05-29  11.7534       815
      date_mesure     Teau  id_sonde
33247  2018-10-05  13.5550       824
33248  2018-10-05  12.7702       825
33249  2018-10-05  11.8890       827
33250  2018-10-05  12.4072       828
33251  2018-10-05  13.1990       830

In [10]:
temp_day.to_csv("csv/temp_day.csv")

In [14]:
temp_day = pd.read_csv("csv/temp_day.csv")

x = 0

nb_days = 0
values = [0] * 17

tab_mean = []
tab_date = [temp_day["date_mesure"][0][0:7]]

while x < len(temp_day):
    date = temp_day["date_mesure"][x][0:7]
    
    if date != tab_date[-1]:
        for value in values:
            tab_mean.append(value / nb_days)
        tab_date.append(date)
        values = [0] * 17
        nb_days = 0

    y = 0
    while y < 17:
        values[y] += temp["Teau"][x + y]
        y += 1
        
    x += 17
    nb_days += 1
        
for value in values:
    tab_mean.append(value / nb_days)
    
dates = []
for date in tab_date:
    i = 0
    while i < 17:
        dates.append(date)
        i += 1

dic = {
        "date_mesure" : dates,
        "Teau" : tab_mean,
        "id_sonde" : [104, 109, 771, 813, 815, 816, 817, 818, 819, 820, 821, 823, 824, 825, 827, 828, 830] * len(tab_date)
    }
temp_month = pd.DataFrame(data=dic)
print(temp_month.info())
print(temp_month.head())
print(temp_month.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1122 entries, 0 to 1121
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date_mesure  1122 non-null   object
 1   Teau         1122 non-null   float64
 2   id_sonde     1122 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 26.4+ KB
None
  date_mesure       Teau  id_sonde
0     2013-05  10.972000       104
1     2013-05  10.107667       109
2     2013-05  11.280667       771
3     2013-05  11.669667       813
4     2013-05  11.459000       815
     date_mesure     Teau  id_sonde
1117     2018-10  12.6060       824
1118     2018-10  12.3208       825
1119     2018-10  11.8360       827
1120     2018-10  11.9964       828
1121     2018-10  12.2482       830

In [15]:
temp_month.to_csv("csv/temp_month.csv")